.nav {
    grid-area: n;
    background-color: rgb(56, 175, 66);
    padding: 20px;
    margin-right: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.settings {
    margin-top: 20px;
}

.settings a {
    color: white;
    text-decoration: none;
}

.settings a.active {
    color: gold;
}